*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.meta
*.suo
*.swp
*.user
*.log
_ReSharper*
*.csproj
*.sln
*.userprefs
*.exe
*.dll

bin/
obj/
.vs
media/
packages/
GameDevWare.Serialization/obj/
GameDevWare.Serialization/bin/
GameDevWare.Serialization/packages/
GameDevWare.Serialization/build-nuget-package.bat
GameDevWare.Serialization.Unity/Assembly*
GameDevWare.Serialization.Unity/obj/
GameDevWare.Serialization.Unity/Library/
GameDevWare.Serialization.Unity/Temp/
GameDevWare.Serialization.Unity/Assets/StreamingAssets/
GameDevWare.Serialization.Unity/Assets/Bundles/
GameDevWare.Serialization.Unity/ProjectSettings/
GameDevWare.Serialization.Unity/Assets/AssetStoreTools/
