*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.meta
*.suo
*.swp
*.user
*.log
_ReSharper*
*.csproj
*.sln
*.userprefs
*.exe
*.dll

bin/
obj/
.vs
media/
packages/

src/GameDevWare.Serialization.Unity/Assembly*
src/GameDevWare.Serialization.Unity/obj/
src/GameDevWare.Serialization.Unity/Library/
src/GameDevWare.Serialization.Unity/Temp/
src/GameDevWare.Serialization.Unity/Assets/StreamingAssets/
src/GameDevWare.Serialization.Unity/Assets/Bundles/
src/GameDevWare.Serialization.Unity/ProjectSettings/
src/GameDevWare.Serialization.Unity/Assets/AssetStoreTools/
